In [2]:
import os
import pandas as pd

In [3]:
os.chdir("/Users/Patrice/DataspellProjects/Physio/Data/La_planete_au_tresor/ecg/electrocardiograms")

# Lecture des fichiers ecg.....csv

In [11]:
ecg = pd.read_csv("ecg_2022-02-27_1.csv",skiprows=13,header=None,names=["unité","microV"])

In [12]:
ecg.head()

   unité  microV
0   -357   146.0
1   -488   874.0
2   -489   978.0
3   -455     9.0
4   -452   955.0